body {
    color: white;
}

#highScoresList {
    list-style: none;
    margin-bottom: auto;
    font-size: 10rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.btn {
    margin-top: 4rem;
}